{% extends "base.html" %} {% block title %}Admin Dashboard{% endblock %} {% block content
  %}
  <div class="container">
    <h2 class="mt-5">Admin Dashboard</h2>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>System Performance</h4>
            <canvas id="systemPerformanceChart"></canvas>
        </div>
        <div class="col-md-6">
            <h4>User Activity</h4>
            <canvas id="userActivityChart"></canvas>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h4>User Management</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="userManagementTable">
                    <!-- User data will be appended here -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Scheduled Waste Collections</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="collectionManagementTable">
                    <!-- Collection data will be appended here -->
                </tbody>
            </table>
        </div>
    </div>
</div>

  {% endblock %}